@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-game: 'Courier New', Courier, monospace;

    --breakpoint-xs: 32rem;
    --breakpoint-md: 53rem;
    --breakpoint-3xl: 121rem;
    
    --animate-slideDown: openMenu 0.5s ease-in-out forwards;

    @keyframes openMenu {
            0% {
                transform: scaleY(0)
            }
    
            80% {
                transform: scaleY(1.2)
            }
    
            100% {
                transform: scaleY(1)
            }
        }
}    
